{% extends "XmAdminBundle:Layout:base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function () {
//            CKEDITOR.replace( 'editor1', {
//                toolbar: 'Basic',
//                uiColor: '#9AB8F3'
//            });
        }
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content_header %}
    <h1>
        页面管理
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">页面管理</li>
    </ol>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {#<textarea id="editor1">#}
        {#{{ obj.content|raw }}#}
    {#</textarea>​#}
    {{ form_widget(form) }}
    <input type="hidden" name="flag" value="{{ obj.flag }}"/>
    <div class="row show-grid">
        <div class="col-md-12">
            <center><button type="submit" class="btn btn-success btn-sm">保存</button></center>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}