{% extends "XmAdminBundle:Layout:base.html.twig" %}
{% block javascripts %}
    {% javascripts
        '@XmAdminBundle/Resources/public/xm/js/navigation/event.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        createMenuUrl = "{{ path('ajax_create_menu') }}";
        saveMenuUrl = "{{ path('ajax_save_menu') }}";
        deleteMenuUrl = "{{ path('ajax_delete_menu') }}";
    </script>
{% endblock %}
{% block content_header %}
    <h1>
        导航管理
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">导航管理</li>
    </ol>
{% endblock %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="callout callout-info">
        <div><button type="button" class="btn btn-success create_menu"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>创建</button></div>
        <small>点击编辑按钮可以对菜单标题和顺序进行修改，点击删除按钮删除对应行菜单</small>
    </div>
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">前台菜单列表</h3>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="col-md-3"><strong>菜单标题</strong></div>
                <div class="col-md-3"><strong>排序</strong></div>
                <div class="col-md-3"><strong>编辑</strong></div>
                <div class="col-md-3"><strong>删除</strong></div>
            </div>
            {% for obj in navigations %}
                <div class="col-md-12" data-id="{{ obj.id }}">
                    <div class="col-md-3">
                        <span class="menu_title">{{ obj.title }}</span>
                        <span class="menu_input"><input type="text" class="hidden form-control menu_input" placeholder="标题"/></span>
                    </div>
                    <div class="col-md-3">
                        <span class="weight_value">{{ obj.weight }}</span>
                        <span class="weight_input"><input type="text" class="hidden form-control weight_input" placeholder="排序"/></span>
                    </div>
                    <div class="col-md-3">
                        {% if obj.flag != 'home' %}
                        <button type="button" class="btn btn-success btn-xs edit-menu">编辑</button>
                        {% endif %}
                        <button type="button" class="btn btn-success btn-xs hidden save-menu">保存</button>
                    </div>
                    <div class="col-md-3">
                        {% if obj.flag != 'home' %}
                            <button type="button" class="btn btn-success btn-xs delete-menu">删除</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div id="create_menu" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">创建导航菜单</h4>
                        </div>
                        <div class="modal-body">
                            <div><input type="text" class="form-control menu_title" placeholder="标题"/></div>
                            <div><input type="text" class="form-control menu_weight" placeholder="排序"/></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary save_new_menu">保存</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
{% endblock %}